html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  line-height: 1.65;
  padding-bottom: 1000px;
}

.container {
  width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box; /* Yang mengatur paddingnya, ukuran tidak berubah */
  display: flex;
}
.content {
  flex: 1;
  order: 2;
}
.left-sidebar {
  flex: 1;
  order: 1;
}
.right-sidebar {
  flex: 1;
  order: 3;
}